/blockchain-network/channel-artifacts/*.tx
/blockchain-network/channel-artifacts/*.block
/blockchain-network/crypto-config/*
/blockchain-network/docker-compose-e2e.yaml
/blockchain-network/ledgers
/blockchain-network/ledgers-backup
/blockchain-network/channel-artifacts/*.json
/blockchain-network/org3-artifacts/crypto-config/*

/mining/fabric-client-kv-org*
/mining/node_modules
.vscode/

/blockchain-explorer/explorer_1/scripts/bower_components/
/blockchain-explorer/explorer_1/webcontent
/blockchain-explorer/node_modules
/blockchain-explorer/app/test/node_modules
/blockchain-explorer/.idea/*
/blockchain-explorer/venv
/blockchain-explorer/.vscode
/blockchain-explorer/test/*
/blockchain-explorer/tmp/*
/blockchain-explorer/logs
/blockchain-explorer/.log
/blockchain-explorer/log.log
/blockchain-explorer/fabric-docker-compose-svt/channel-artifacts
/blockchain-explorer/fabric-docker-compose-svt/crypto-config
/blockchain-explorer/first-network/channel-artifacts/*
/blockchain-explorer/tmp/wallet/*
/blockchain-explorer/wallet/*
/blockchain-explorer/*.swp
/blockchain-explorer/package-lock.json
/blockchain-explorer/ssl-certs/*.pem
/blockchain-explorer/ssl-certs/*.csr
/blockchain-explorer/0
/blockchain-explorer/app/test/.nyc_output/
