<div class="header">
  <div style="float:right;"><img  src="assets/img/rossum.jpg" width="450" height="120"></div>
  <div style="font-size:2.2em;text-align:left;padding:0.5em 0 0 0.5em">MINING REGISTRAR</div>
  <br><br>
<!--  <div style="float:left;padding-left:1em">
    <a routerLink="/homepage">
      <button class="smallbutton">Home</button>
    </a>
  </div> -->
</div>
<br>
<br>
<div align="center">
  <nav>
    <a routerLink="/ministry-mining"><button class="button">Ministry of Mining</button></a><br><br>
    <a routerLink="/ministry-land-agri"><button class="button">Ministry of Land and Agriculture</button></a><br><br>
    <a routerLink="/ministry-finance"><button class="button">Ministry of Finance</button></a><br><br>
    <a routerLink="/mining-company"><button class="button">Mining Company</button></a><br>
  </nav>
</div>
<router-outlet></router-outlet>
